.buttons{
    margin-left: 40%;
    
}

#rock, #paper, #scissors{
    width: 15%;
    margin-top: 10%;
}

#roundResult, #playerWins, #computerWins, #finalResult {
    border: 10px solid black;
    height: 100px;
    width: 500px;
    margin-left: 33%;
    margin-top: 5%;

}