html {
    background: url('images/background.jpg');
    background-size: cover;
    color: black;
}

h1 {
    text-align: center;
}

.playerbuttons{
    margin-left: 35%;
    
}

#rock, #paper, #scissors{
    width: 15%;
    margin-top: 4%;
}

#roundResultContainer {
    border: 10px solid #2c3e50;
    height: 100px;
    width: 536px;
    margin-left: 28%;
    margin-top: 5%;
    text-align: center;
    font-size: large;
}

.footer{
    display: flex;
    margin-left: 28%; 
}

#computerWins {
    width: 11.2%;
    height: 10%;
    border: 10px solid #c0392b;
    text-align: center;
}

#finalResult{
    border: 10px solid #2c3e50;
    width: 35%;
    height: 68px;
    text-align: center;
    font-size: large;
}

#humanWins {
    width: 11.2%;
    height: 10%;
    border: 10px solid #2ecc71;
    text-align: center;
}

#reset {
    margin-left: 48%;
}



